In [1]:
import pandas as pd
import os
import import_ipynb  # type: ignore
import Funcoes as func # type: ignore

In [2]:
urlpasta = "c:/Users/Kauan/Downloads/APS"
df = func.csv_para_df (urlpasta) #Chama a Função para Abrir os arquivos CSV e retornar um DataFrame
display(df.head())
df.info()

,id_bdq,foco_id,lat,lon,data_pas,pais,estado,municipio,bioma
0,1615095642,c2cb851a-fa65-3835-a7ea-4b1264e421bf,-5.48604,-39.73949,2023-01-03 16:20:00,Brasil,CEARÁ,PEDRA BRANCA,Caatinga
1,1615095643,bcffeabb-5db5-3cd0-960a-ef1b1ab7914b,-5.85353,-39.35537,2023-01-03 16:20:00,Brasil,CEARÁ,PIQUET CARNEIRO,Caatinga
2,1615095646,c912d426-b7f0-31bf-8a3c-655cc655930d,-5.53426,-38.08508,2023-01-03 16:20:00,Brasil,CEARÁ,ALTO SANTO,Caatinga
3,1615095647,9eabd09d-9ff7-32c7-ad14-d23b7d7824f4,-5.55035,-40.54355,2023-01-03 16:20:00,Brasil,CEARÁ,INDEPENDÊNCIA,Caatinga
4,1615095652,3295757f-7c40-394c-a545-8ceaf0ff191d,-5.96212,-39.53709,2023-01-03 16:20:00,Brasil,CEARÁ,PIQUET CARNEIRO,Caatinga

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13968 entries, 0 to 13967
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_bdq     13968 non-null  int64
 1   foco_id    13968 non-null  object
 2   lat        13968 non-null  float64
 3   lon        13968 non-null  float64
 4   data_pas   13968 non-null  object
 5   pais       13968 non-null  object
 6   estado     13968 non-null  object
 7   municipio  13968 non-null  object
 8   bioma      13968 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 982.3+ KB

In [3]:
df = func.limpar_textos(df, ['pais', 'estado', 'municipio', 'bioma']) # Chama a Função para Retirar Espaços e Formatar Texto 
display(df.head())
df.info()

Limpando a Coluna pais
Limpando a Coluna estado
Limpando a Coluna municipio
Limpando a Coluna bioma

,id_bdq,foco_id,lat,lon,data_pas,pais,estado,municipio,bioma
0,1615095642,c2cb851a-fa65-3835-a7ea-4b1264e421bf,-5.48604,-39.73949,2023-01-03 16:20:00,Brasil,Ceará,Pedra Branca,Caatinga
1,1615095643,bcffeabb-5db5-3cd0-960a-ef1b1ab7914b,-5.85353,-39.35537,2023-01-03 16:20:00,Brasil,Ceará,Piquet Carneiro,Caatinga
2,1615095646,c912d426-b7f0-31bf-8a3c-655cc655930d,-5.53426,-38.08508,2023-01-03 16:20:00,Brasil,Ceará,Alto Santo,Caatinga
3,1615095647,9eabd09d-9ff7-32c7-ad14-d23b7d7824f4,-5.55035,-40.54355,2023-01-03 16:20:00,Brasil,Ceará,Independência,Caatinga
4,1615095652,3295757f-7c40-394c-a545-8ceaf0ff191d,-5.96212,-39.53709,2023-01-03 16:20:00,Brasil,Ceará,Piquet Carneiro,Caatinga

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13968 entries, 0 to 13967
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_bdq     13968 non-null  int64
 1   foco_id    13968 non-null  object
 2   lat        13968 non-null  float64
 3   lon        13968 non-null  float64
 4   data_pas   13968 non-null  object
 5   pais       13968 non-null  object
 6   estado     13968 non-null  object
 7   municipio  13968 non-null  object
 8   bioma      13968 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 982.3+ KB

In [4]:
df = func.transformar_datas(df, ['data_pas']) # Chama a Função para Transformar a Coluna em Data
display(df.head())
df.info()

Transformando a Coluna data_pas em Data

,id_bdq,foco_id,lat,lon,data_pas,pais,estado,municipio,bioma
0,1615095642,c2cb851a-fa65-3835-a7ea-4b1264e421bf,-5.48604,-39.73949,2023-01-03 16:20:00,Brasil,Ceará,Pedra Branca,Caatinga
1,1615095643,bcffeabb-5db5-3cd0-960a-ef1b1ab7914b,-5.85353,-39.35537,2023-01-03 16:20:00,Brasil,Ceará,Piquet Carneiro,Caatinga
2,1615095646,c912d426-b7f0-31bf-8a3c-655cc655930d,-5.53426,-38.08508,2023-01-03 16:20:00,Brasil,Ceará,Alto Santo,Caatinga
3,1615095647,9eabd09d-9ff7-32c7-ad14-d23b7d7824f4,-5.55035,-40.54355,2023-01-03 16:20:00,Brasil,Ceará,Independência,Caatinga
4,1615095652,3295757f-7c40-394c-a545-8ceaf0ff191d,-5.96212,-39.53709,2023-01-03 16:20:00,Brasil,Ceará,Piquet Carneiro,Caatinga

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13968 entries, 0 to 13967
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_bdq     13968 non-null  int64
 1   foco_id    13968 non-null  object
 2   lat        13968 non-null  float64
 3   lon        13968 non-null  float64
 4   data_pas   13968 non-null  datetime64[ns]
 5   pais       13968 non-null  object
 6   estado     13968 non-null  object
 7   municipio  13968 non-null  object
 8   bioma      13968 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 982.3+ KB

In [5]:
df['hora'] = df['data_pas'].dt.hour # Cria Coluna de hora
df['dia'] = df['data_pas'].dt.day # Cria Coluna de dia
df['mes'] = df['data_pas'].dt.month # Cria Coluna de mês
df['ano'] = df['data_pas'].dt.year # Cria Coluna de ano
df['data_pas'] = pd.to_datetime(df['data_pas']).dt.normalize() # Mantém apenas a data, zerando a hora
display(df.head())
df.info()

,id_bdq,foco_id,lat,lon,data_pas,pais,estado,municipio,bioma,hora,dia,mes,ano
0,1615095642,c2cb851a-fa65-3835-a7ea-4b1264e421bf,-5.48604,-39.73949,2023-01-03,Brasil,Ceará,Pedra Branca,Caatinga,16,3,1,2023
1,1615095643,bcffeabb-5db5-3cd0-960a-ef1b1ab7914b,-5.85353,-39.35537,2023-01-03,Brasil,Ceará,Piquet Carneiro,Caatinga,16,3,1,2023
2,1615095646,c912d426-b7f0-31bf-8a3c-655cc655930d,-5.53426,-38.08508,2023-01-03,Brasil,Ceará,Alto Santo,Caatinga,16,3,1,2023
3,1615095647,9eabd09d-9ff7-32c7-ad14-d23b7d7824f4,-5.55035,-40.54355,2023-01-03,Brasil,Ceará,Independência,Caatinga,16,3,1,2023
4,1615095652,3295757f-7c40-394c-a545-8ceaf0ff191d,-5.96212,-39.53709,2023-01-03,Brasil,Ceará,Piquet Carneiro,Caatinga,16,3,1,2023

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13968 entries, 0 to 13967
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_bdq     13968 non-null  int64
 1   foco_id    13968 non-null  object
 2   lat        13968 non-null  float64
 3   lon        13968 non-null  float64
 4   data_pas   13968 non-null  datetime64[ns]
 5   pais       13968 non-null  object
 6   estado     13968 non-null  object
 7   municipio  13968 non-null  object
 8   bioma      13968 non-null  object
 9   hora       13968 non-null  int32
 10  dia        13968 non-null  int32
 11  mes        13968 non-null  int32
 12  ano        13968 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(4), int64(1), object(5)
memory usage: 1.2+ MB

In [6]:
df = func.ordernar_desc(df, 'data_pas') # Chama a Função para Ordenar o Dataframe Pela Data Mais Recente
display(df.head())
df.info()

Quantidade de Comparações: 95248757

,id_bdq,foco_id,lat,lon,data_pas,pais,estado,municipio,bioma,hora,dia,mes,ano
0,1739312918,150e7097-2cac-3c4f-8a08-0ea19224c9fd,-4.35215,-38.80552,2024-12-30,Brasil,Ceará,Aracoiaba,Caatinga,17,30,12,2024
1,1739312921,8fd3c0e5-5c63-3c85-9821-47ec30053962,-7.20885,-38.78921,2024-12-30,Brasil,Ceará,Barro,Caatinga,17,30,12,2024
2,1739312925,eae6b8d5-4ffe-385c-a910-2b5211b7aef9,-3.47606,-39.37862,2024-12-30,Brasil,Ceará,Tururu,Caatinga,17,30,12,2024
3,1739312927,bd8ac7a0-0e60-358e-aa10-de1cacf411fe,-6.09393,-39.85390,2024-12-30,Brasil,Ceará,Acopiara,Caatinga,17,30,12,2024
4,1739312930,4421803d-f02a-3aa5-90c3-b17201794c0e,-5.32944,-40.50084,2024-12-30,Brasil,Ceará,Crateús,Caatinga,17,30,12,2024

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13968 entries, 0 to 13967
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_bdq     13968 non-null  int64
 1   foco_id    13968 non-null  object
 2   lat        13968 non-null  float64
 3   lon        13968 non-null  float64
 4   data_pas   13968 non-null  datetime64[ns]
 5   pais       13968 non-null  object
 6   estado     13968 non-null  object
 7   municipio  13968 non-null  object
 8   bioma      13968 non-null  object
 9   hora       13968 non-null  int64
 10  dia        13968 non-null  int64
 11  mes        13968 non-null  int64
 12  ano        13968 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 1.4+ MB

In [ ]:
df.to_csv('Base de Dados Queimadas.csv', index=False, encoding='utf-8') #Exportar o Arquivo para a Mesma Pasta